<?xml version="1.0" encoding="utf-8"?>
<odoo>

	<record model="ir.actions.act_window" id="odoo_trainee.act_open_views">
      <field name="name">Sale Proposal</field>
      <field name="res_model">sale.proposal</field>
      <field name="view_mode">tree,form,kanban,graph</field>
      <field name="context"></field>
    </record>

	<menuitem name="Sale Proposal" id="odoo_trainee.menu_root" action="odoo_trainee.act_open_views"/>
    <!-- menu categories -->
    <!-- <menuitem name="Menu 1" id="odoo_trainee.menu_1" parent="odoo_trainee.menu_root"/>

    <menuitem name="Menu 2" id="odoo_trainee.menu_2" parent="odoo_trainee.menu_root"/>
    <menuitem name="List" id="odoo_trainee.menu_1_list" parent="odoo_trainee.menu_1" action="odoo_trainee.act_open_views"/> -->

</odoo>
