<?xml version="1.0" encoding="utf-8"?>
<odoo>

	<record model="ir.actions.act_window" id="odoo_trainee.act_open_views">
      <field name="name">Sale Proposal</field>
      <field name="res_model">sale.proposal</field>
      <field name="view_mode">tree,form,kanban,graph</field>
      <field name="context"></field>
    </record>

	<menuitem name="Sale Proposal" id="odoo_trainee.menu_root" action="odoo_trainee.act_open_views"/>
</odoo>
