<!DOCTYPE html>
<html lang="en" >
   <head>
      <meta charset="UTF-8">
      <title>Practice cart</title>
      <script type="module"  src="../static/js/app.js"></script>
      <script type="module"  src="../static/js/header.js"></script>
      <script type="module"  src="../static/js/footer.js"></script>
      <link rel="stylesheet" href="../static/css/style.css">
    </head>
    
   <body>  
      <div class="header-container"></div>  
      <div id="content">
         <div id=product>
         </div>
            <h1>Side Cart</h1>
            <!-- <img class="cartlogo" src="./static/images/cart.png"> -->
         <div class="sidecart"></div>
           
        </div>     
      <div class="footer-container"></div>  
        
      
   </body>

</html>