  span {cursor:pointer; }
    
    .minus, .plus{
      width:10px;
      height:10px;
      border-radius:4px;
      padding:4px 8px 4px 8px;
      border:1px solid #ddd;
      vertical-align: middle;
      text-align: center;
    }
    input{      
      width: 50px;
      text-align: center;
    }

      